@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    /* @apply bg-background; */
  }
}

@layer components {
  .btn-outline {
    @apply px-4 py-2 bg-transparent border border-primary_green rounded-md text-primary_green;
  }
  .btn {
    @apply px-4 py-2 bg-primary_green rounded-md text-white;
  }
  .bgcolor {
    background-color: rgb(254, 223, 229);
  }
}
